body {
    background-color: #EEEEEE;
}

header {
    background-color: #CF2B2B;
    color: #FFFFFF;
    backface-visibility: hidden;
    width: 100%;
    padding: 15px 0 15px 20px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    z-index: 2;
    font-family: 'Righteous', cursive;
}

header h1{
    font-size: 40px;
    font-weight: 200;
}

header h3{
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

main {
    margin: 120px 0;
    width: 100%;
}

.titulo {
    font-size: 27px;
    color: #333333;
    font-family: 'Righteous', cursive;
    margin-left: 20px;
}


article{
    height:220px;
    width: 175px;
    background: #FFF;
    border-radius:10px;
    margin: 15px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 0px 10px #B2B2B2;
}

article img{
    height:87px;
    width:145px;
    margin-top:20px;
    margin-bottom:10px;
    flex-shrink: 0;
    border-radius:10px;
}

article h1{
    font-weight: bold;
    font-size: 20px;
    margin-bottom:10px;
    color: #333333;
    align-self:start;
    padding-left:15px;
}

article h3{
    margin-left:15px;
    color: #B2B2B2;
    font-weight: 100;
    margin-bottom:10px;
    align-self:start;
}

article p{
    align-self:start;
    margin-left: 15px;
    font-weight: 600;
    color:#333333;
}

section div{
    display: flex;
    margin-left:5px;
}

footer{
    height: 100px;
    background: #FFF;
    width:100%;
    position: fixed;
    bottom:0;
    left:0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
}

footer p{
    color: #FFF;
    font-size: 20px;
    max-width:200px;
}

footer div{
      background:#CBCBCB;
      height:60px;
      width:100%;
      margin: 0 10px;
      border-radius:30px;
      display: flex;
      align-items:center;
      justify-content: center;
}

.fechar-pedido{
    height: 90px;
    background: #FFF;
    width:100%;
    position: fixed;
    margin:0px;
    bottom:0;
    left:0;
    font-family: 'Roboto', sans-serif;
    display: none;
    align-items: center;
    justify-content: center;
    position:fixed;
}

.fechar-pedido a{
    color: #FFF;
    font-size: 20px;
    max-width:200px;
}

.fechar-pedido div{
    background:#32B72F;
    height:60px;
    width:100%;
    margin: 0 15px;
    border-radius:30px;
    display: none;
    align-items:center;
    justify-content: center;
}